# Attendance analysis

#### imports

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("attendance_log.csv")
df

                                        Name      Date Appearances...
Liyan 2025-10-02 15:22:09 15:22:14  15:22:14  15:22:14       15:22:15